* {
  margin: 0;
  padding: 0;
}
.nav-container {
  position: fixed;
  top: 5;
  left: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  z-index: 1000;
}
.nav-container a {
  margin: 10px 20px;
  text-decoration: none;
  font-size: large;
  color: white;
}
.parent-nav-div {
  background-image: url("./Images/madeira.png");
  background-size: cover;

  background-position: center;
  padding: 20px;
  height: 50em;
}

.second-main-container {
  /* border: 1px solid; */
  position: relative;
  width: 100%;
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 5%;
}

/* Style for the button */
.second-main-container button {
  /* border: 1px solid; */
  position: absolute;
  top: 700px;
  left: 200px;
  padding: 10px;
  border: 1px solid #dbc79f;
  border-radius: 20px;
}

/* Example styles for positioning */
.second-main-container div {
  /* border: 1px solid; */
  width: 40%;
  position: absolute;
  top: 50px;
  left: 100px;

  font-family: Mirador;
  font-size: 40px;
  font-style: italic;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: left;
}
.text-2 {
  font-family: TT Chocolates Trl;
  font-size: 40px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: left;
  color: green;
}
.second-main-container img:nth-of-type(1) {
  /* kick */
  /* border: 1px solid; */
  position: absolute;
  top: 20px;
  /* left: 500px; */
  right: 100px;
}

.second-main-container img:nth-of-type(2) {
  /* horse */
  /* border: 1px solid; */
  position: absolute;
  top: 350px;
  right: 50px;
}

.second-main-container img:nth-of-type(3) {
  /* logo */
  /* border: 1px solid; */
  position: absolute;
  /* bottom: 200px; */
  top: 350px;
  left: 620px;
}

.second-main-container img:nth-of-type(4) {
  /* swim */
  /* border: 1px solid red; */
  position: absolute;
  top: 300px;
  left: 150px;
  /* right: 500px; */
}

.third-container {
  position: relative;
  width: 100%;
}

.grp3-img {
  width: 100%;
  display: block;
}

.youtube-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px; /* Adjust the size as needed */
  height: auto;
}

.girl-main-container {
  /* border: 1px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.girl-h2 {
  font-family: Mirador;
  font-size: 35px;
  font-style: italic;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #b90124;
}

.girl-p {
  font-family: TT Chocolates Trl;
  font-size: 20px;
  font-style: italic;
  /* font-weight: 900; */
  line-height: 25px;
  letter-spacing: 0.02em;
  text-align: left;
  color: black;
  margin-top: 5px;
}
.girl-first-container {
  /* border: 1px solid; */
  padding: 20px;
  width: 30%;
}

.girl-second-container {
  /* border: 1px solid; */
  width: 50%;
}

.button {
  border: 1px solid #dbc79f;
  padding: 10px;
  border-radius: 20px;
  margin-top: 8%;
  margin-left: 50%;
}

.why-container {
  margin: 5rem auto;
  width: 90%;
}

.building-container {
  background-image: url("./Images/blog 1.png");
  /* position: relative; */
  background-size: cover;
  background-position: center;
  padding: 20px;
  height: 25em;
}
.redBox {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  margin: 190px auto;
  background-color: #b90124;
  color: white;
  padding: 40px;
  gap: 10px;
  border-radius: 10px;
}
.redBox p {
  font-size: small;
}

.img360 {
  /* border: 1px solid; */
  /* border: 1px solid; */
  position: relative;
  right: 150px;
  top: 135px;
}
.first-h1 {
  /* border: 1px solid; */
  width: max-content;
  position: relative;
  color: white;
  left: 580px;
  top: 50px;
}

.second-h1 {
  /* border: 1px solid; */
  width: max-content;
  position: relative;
  color: white;
  left: 690px;
  top: 50px;
}

.footer {
  width: 100%;
  margin: 10% auto 0 auto;
}
